.project
src/ontology/catalog-v001.xml
*.swp
/owltools_folder/
/build.sh

src/ontology/out\.txt
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/hp.obo
src/ontology/hp.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
.DS_Store
catalog-v001.xml
src/ontology/hp-base.json
src/ontology/hp-base.json
src/ontology/hp-base.obo
src/ontology/hp-base.owl
src/ontology/hp-base.tmp.obo
src/ontology/hp.json
src/ontology/hp.tmp.obo
src/ontology/imports/doid_import.obo
src/ontology/imports/doid_import.owl
src/ontology/imports/doid_terms.txt
