.DS_Store
.project
*.swp
*.tmp
*.tmp.obo
*.tmp.owl
/owltools_folder/
src/ontology/subsets/
bin/
hp-simple-non-classified.*
semantic.cache
src/ontology/*test.owl
src/ontology/apache-jena-3.1.1.zip
src/ontology/apache-jena-3.1.1
src/ontology/assert-equivalent-classes-module.owl
src/ontology/assert-equivalent-classes-module.owl
src/ontology/assert-unsatisfiable-module.owl
src/ontology/build.sh
src/ontology/build/
src/ontology/dosdp-tools.log
src/ontology/hp-base.*
src/ontology/hp-full.*
src/ontology/hp-inferred.*
src/ontology/hp-simple-non-classified.*
src/ontology/hp.json
src/ontology/hp.obo
src/ontology/hp.obo.tmp
src/ontology/hp.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/mirror
src/ontology/mirror/*
src/ontology/patterns
src/ontology/seed.txt
src/ontology/target/
src/patterns/imports/seed_sorted.txt
src/ontology/Dockerfile
src/ontology/patterns.sh
src/patterns/data/default/*.ofn
src/patterns/data/default/*.txt
src/ontology/patternised_classes.txt
