.DS_Store
.project
*.swp
*.tmp
*.tmp
*.tmp.obo
*.tmp.owl
/build.sh
/owltools_folder/
bin/
catalog-v001.xml
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/hp-base.obo
src/ontology/hp-base.json
src/ontology/hp-simple-non-classified.*
src/ontology/hp-full.*
src/ontology/hp.json
src/ontology/hp.obo
src/ontology/hp.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/patterns
src/ontology/seed.txt
src/ontology/target/
src/patterns/imports/seed_sorted.txt
src/ontology/imports/*_terms_combined.txt
hp-simple-non-classified.*
