/*test.owl
/build/
/subsets/
/assert-unsatisfiable-module.owl
/hp.obo
/hp.obo.tmp
/hp.owl

/apache-jena-3.1.1/
/apache-jena-3.1.1.zip
/assert-equivalent-classes-module.owl
/hp-inferred.owl
/hp-inferred.obo
/assert-equivalent-classes-module.owl
/hp-inferred.obo.tmp

.DS_Store
.project
*.swp
*.tmp
*.tmp
*.tmp.obo
*.tmp.owl
/build.sh
/owltools_folder/
bin/
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/hp-base.json
src/ontology/hp-base.obo
src/ontology/hp-base.owl
src/ontology/hp.json
src/ontology/hp.obo
src/ontology/hp.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/patterns
src/ontology/seed.txt
src/ontology/target/
src/patterns/imports/seed_sorted.txt

