# Workshop List

| Topic | Type | Status | When | Where |
|-------|------|--------|------|-------|
{%- for item in workshops | sort(attribute='When', reverse=true) %}
| {{ item.Topic }} | {{ item.Type }} | {{ item.Status }} | {{ item.When }} | {{ item.Where }} |
{%- endfor %}